APP_NAME=telegram_bot
API_ID=123456
API_HASH=your_api_hash
HISTORY_LIMIT=21
OPENAI_API_KEY=your_openai_key
OPENAI_API_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o
OLLAMA_API_KEY=
OLLAMA_API_BASE_URL=http://localhost:11434/v1
OLLAMA_API_MODEL=llama3
USE_OLLAMA=false
NEXT_MESSAGE_WAIT_TIME=10